.background {
    background: url("assets/img/mountains-4420690_1920.jpg");
    background-size: cover;
    /*width: 1121px;*/
    height: 450px;
}

h1 {
    margin-left: 8rem;
}

.photo-id {
    margin-left: 2rem;
}

.text-integratrice {
    margin-left: 22rem;
    margin-top: -20rem;
    border: solid black;
    width: 800px;
}

.text-accroche {
    margin-left: 6px;

}

.ligne_verticale {
    border-left: 6px groove red;
    height: auto;
    right: 1rem;
}

li {
    list-style-type: none;
}

li:before {
    content: "- "; /* on affiche une chaîne de caractère */
}
.col-sm-6{

}
.obj-pro {
    margin-left: 1rem;
}

.text-contact {
    text-align: left;
    margin-left: 2rem;
    padding-top: 2rem;
}

.photo-id {
    margin-bottom: 9px;
    margin-top: 1rem;
    width: 120px;
    border: black;
    border-style: solid;
    background-size: 6px;
}

h1 {
    margin-top: -6rem;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 20px;
}

h3 {
    margin-top: 2rem;
    font-size: 20px;
}

i {
    color: darkolivegreen;
    margin-right: 6px;
}

.width {
    font-size: 50px;
}

.code-postal {
    margin-top: -1rem;
}
